*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6e2f0;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: #fff;
    height: 525px;
    width: 345px;
    border-radius: 22.4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid hsl(212, 45%, 89%);
    padding: 15px;
}

.qr{
    background-image: url(/images/image-qr-code.png);
    background-size: 100%;
    width: 310px;
    height: 305px;
    border-radius: 16px;
}

.title{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 32px;
    text-align: center;
    margin-top: 25px;
}

.maintext{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-top: 18px;
    font-size: 16.9px;
    margin: 15px 7px 0px 7px;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(82, 79, 79);
    font-size: 14px;
}

a{
    text-decoration:underline;
    color: rgb(82, 79, 79);
}